body {
    background-color: aqua;
    font-family: Georgia;
}

h1 {
    font-family: Comic sans Ms;
    color: darkblue;
    font-size: 60xp;
    text-align: center;
}

h4 {
    text-align: end;
}

.a {
    color: white;
    font-variant-caps: petite-caps;
}

.pertama {
    color: orange;
    text-align: center;
}

.kedua {
    text-align: right;
}